* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  border: 0;
  /* overflow: hidden; */
  display: block;
  background-color: #9BCAE5;
}

#loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.2rem;
}

@font-face {
  font-family: "NotoSansTC-Light";
  src: url("/workout/Src/Fonts/NotoSansTC-Light.otf") format("opentype");
}

canvas {
  position: absolute;
}

#mainCanvas {
  z-index: 1;
}

#dialogCanvas {
  z-index: -1;
}

#gameCanvas{
  z-index: -1;
  position: absolute;
  top:120px;
  left:50%;
  transform: translate(-50%, 0);               
}

canvas{
  /* image-rendering: pixelated; */
  image-rendering: pixelated;
}